@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');


html,
body{
    background: #000;
    color: red;
    font-family: 'Staatliches', cursive;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
    background-blend-mode: color;
    height: 100vh;
}
.header{
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 3px;
    text-align: center;
    padding: 1rem 0.5rem;
}
.kill-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem 0.75rem;
}
.kill-container .kill-human{
    box-shadow: 0 0 10px 2px red;
    user-select: none;
    cursor: pointer;
    width: 100%;
    max-width: 600px;
    border-radius: 16px;
    margin: 1rem 0;
    padding: 1.5rem 1rem;
    display: flex;
    justify-content: space-between;
}
.kill-container .kill-human:hover{
    box-shadow: 0 0 10px 2px blue;
    color: cyan;
}
.green{
    color: chartreuse !important;
}
.kill-container .kill-human h1{
    margin: 0 0.5rem;
    letter-spacing: 2px;
}
#footer{
    background-color: #000;
    color: cyan;
    padding: 0.75rem;
    text-align: center;
    font-size: 0.75rem;
}
@media (max-width:600px){
    body{
        background: url(./ghost.jpg);
        background-color: rgba(0, 0, 0, 0.8);
        background-attachment: fixed;
        background-repeat: no-repeat !important;
    }
    .kill-container{
        margin: 3rem 1.5rem;
    }
}